body {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: sans-serif;
}


/*End of Body Tag css*/

nav {
    position: fixed;
    width: 100%;
    background-color: white;
    margin: 0;
    top: 0px;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

nav p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    margin-top: 5px;
}

nav ul li {
    display: inline-block;
}

nav h2 {
    color: darkgray;
    font-size: 30px;
    display: inline-block;
    margin-left: 20px;
}

nav h2:hover {
    font-size: 35px;
}

nav>ul>li>a {
    color: black;
    line-height: 3em;
    display: block;
    padding: 1.05em 1.5em;
    text-decoration: none;
}

nav li:hover {
    background-color: purple;
    color: white;
}

nav li a:hover {
    color: white;
    font-size: 23px;
}


/*End of Navbar CSS*/

#heroic {
    background-color: black;
}

#heroic>figure {
    align-content: center;
    margin-top: 8%;
    margin-left: 45%;
    margin-right: 40%;
}

#heroic>figure>img {
    border: 0.5px solid darkgray;
}

.button-style {
    width: 250px;
    height: 70px;
    border-radius: 15px;
    margin-left: 41.5%;
    margin-right: 40%;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 0.5px solid darkgray;
}

.button-style:hover {
    background-color: purple;
    border: 0px;
    width: 290px;
    height: 90px;
    font-size: 40px;
    margin-left: 40%;
}


/*End of Hero Section CSS*/

.text-style {
    font-size: 60px;
    margin: 60px 100px 35px 100px;
    text-align: center;
    margin-bottom: 10%;
    padding: 1em 1em 2.5em 1em;
}

hr {
    color: black;
    margin: 0px 100px 0px 100px;
}


/*End of <hr> style*/

#second {
    background-color: blanchedalmond;
    width: 100%;
}

.three-coloumn {
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: blanchedalmond;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.grid_4 {
    border: 1px solid darkgray;
    background-color: white;
    border-radius: 2%;
    margin-bottom: 10%;
}

.grid_4>figure>img {
    margin: -25px;
}

.button-article {
    background-color: black;
    color: white;
    width: 220px;
    height: 60px;
    margin: 30px 10px 60px 10px;
    border-radius: 8px;
    font-size: 30px;
}

.button-article:hover {
    background-color: purple;
    border: 0px;
    width: 250px;
    height: 80px;
    font-size: 40px;
}


/*End of 3-colonumn section CSS*/

body>div {
    background-color: lightgray;
    color: black;
    margin: 10% 0% 10% 0%;
    width: 100%;
}

.two-coloumn {
    margin-bottom: 10%;
}

.form-display {
    display: inline-block;
}

.two-coloumn>h2 {
    text-align: center;
    font-size: 50px;
}

.grid_6 {
    margin-top: 5%;
    margin-bottom: 10%;
}

.style {
    margin-left: 10%;
}

.style>p {
    font-weight: lighter;
    letter-spacing: 2PX;
    font-size: 40px;
    padding: 1.5em;
    line-height: 110%;
    text-align: center;
}

.button-contribute {
    background-color: black;
    color: white;
    width: 220px;
    height: 60px;
    margin-left: 50%;
    margin-top: 0;
    margin-bottom: 10%;
    border-radius: 8px;
    font-size: 30px;
}

.button-contribute:hover {
    background-color: purple;
    width: 250px;
    height: 80px;
    font-size: 40px;
    margin-left: 47%;
    border: 0px;
}


/*End of Contribute page css */

.heading-style {
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 5%;
}


/*End of heading Section*/

#forum {
    color: black;
    background-color: white;
    width: 100%;
    margin-top: 5%;
}

#forum>.article {
    margin-top: 0px;
}

.grid_6>form {
    margin-left: 30px;
}

.grid_6>form>input {
    width: 90%;
    height: 50px;
    font-size: 30px;
    margin: 15px 0px 20px 0px;
    border: 2px solid;
    border-color: burlywood;
    border-radius: 5px;
}

.grid_6>form>input:focus {
    border: 2px solid chartreuse;
    font-size: 40px;
}

#ask {
    width: 150px;
    margin-left: 30%;
    margin-top: 15%;
    margin-bottom: 10%;
}

#forum>section>article {
    border: 0.1em solid darkgray;
    margin-right: 0px;
    border-radius: 10px;
}

.inline>img {
    display: inline-block;
    width: 55px;
    height: 55px;
}

.news-style>a>p {
    font-size: 30px;
    padding-left: 0.3em;
    display: inline-block;
    margin-top: 10px;
}

.news-style>a>p:hover {
    color: red;
}

.news-style>a {
    text-decoration: none;
    font-size: 20px;
}

.resize {
    height: 75px;
    width: 75px;
}


/*End of Ask section css*/

footer {
    margin-top: 30px;
    background-color: black;
    margin-bottom: 0%;
    height: 80px;
}

footer>div>figure {
    float: right;
    margin-top: 60px;
    display: inline-block;
    padding: 1em;
    margin: 0px;
}

footer>div>p {
    padding: 1em;
    margin-top: 5px;
    float: right;
    display: inline-block;
    color: white;
}

footer>div>aside {
    float: left;
    margin: 5px 40px;
    ;
    color: white;
}


/*End of footer section css*/
